/* common shared styles */
body {
    font-family: 'Merriweather', serif;
}

/* header related styles */

.banner-title {
    color: #FFF;
    text-align: center;
    font-size: 35px;
    padding-top: 200px;
    padding-bottom: 0;

}

.banner-title-description {
    margin: 0;
}


.banner-main {
    color: #FFF;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    line-height: 95px;
    width: 632px;
    margin: auto;

}

.banner-main-title {
    margin: 20px;

}



header {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../resources/Banner\ Image.png);
    border-radius: 16px;
    margin: auto;
    width: 1320px;
    height: 600px;
}

/* main section styles */

/* section1 */

.section-1 {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 120px;
}

.class-1 {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    margin-bottom: 0;
}

.class-2 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
    margin-bottom: 0;
}

.class-3 {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 48px;
}

/* section2 */
.section-2 {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../resources/Vectorrr.png);
    width: 1320px;
    height: 600px;
    margin: auto;
}

.div-title {
    width: 642px;
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    padding-top: 120px;
    padding-left: 126px;
}

.div-description {
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 24px;
    padding-left: 126px;
}

.button-1 {
    color: #FFF;
    background-color: transparent;
    border: none;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 48px;
    padding-left: 158px;
}

/* section3 */

.section-3 {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
    width: 1320px;
    height: 482px;
    margin: auto;
    margin-top: 120px;
}

.div-time {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    padding-top: 100px;
    padding-bottom: 48px;
}

.time-topic-span {
    color: #F00;
}

.button-2 {
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;

    border-radius: 8px;
    background: #F00;

    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
}

/* section4 */
.section-4 {
    display: flex;
    justify-content: space-between;
    background: #FFF;
    width: 1300px;
    margin: 120px auto;
    margin-bottom: 20px;
}

.div-left {
    text-align: left;
}

.left-title {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.left-description {
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}



.middle-img {
    width: 300px;
    height: 300px;
    border: 20px solid white;
    border-radius: 50%;
    outline: 15px solid #F00;
}




/* .div-right {} */

.right-title {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.right-description {
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.right-img {
    margin-top: 43px;
    width: 140px;
    height: 140px;
}

/* section5 */
.section-5 {
    text-align: center;
    width: 1300px;
    height: 900px;
    margin: 120px auto;
}

.title-1 {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.title-2 {
    color: #070211;
    font-size: 72px;
    font-weight: 900;
    margin: 0;
}

.Holidays {
    color: #F00;
}

.title-3 {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    margin: 28px auto 64px;
    width: 1068px;
}

.img-main-div {
    /* display: flex; */
    height: 650px;

    background-image: url(../resources/Group\ 75.png), url(../resources/Rectangle\ 2.png), url(../resources/Rectangle\ 1.png);
    background-repeat: no-repeat;
    background-position: bottom left, center bottom, top right;
}

.img-div-2 {
    padding: 60px;
    padding-left: 500px;
}

/* section 6 */
.section-6 {
    text-align: left;
    width: 1300px;
    margin: 0px auto;
}

.section-6-title {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 0;
}

.section-6-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    width: 896px;
}

.images {
    display: flex;
    justify-content: space-between;
}

.product {
    padding: 10px;
}

/* section 7 */

.section-7 {
    text-align: center;
    width: 1300px;
    height: 500px;
    margin: 0px auto;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin-top: 120px;

}

.email-img {
    margin-bottom: 22px;
    padding-top: 24px;
}

#text {
    margin: 20px auto;
}

.Subscribe {
    display: flex;
    width: 648px;
    height: 72px;
    margin: 40px auto;


}

.email-box {
    width: 648px;
    height: 72px;
    font-size: 18px;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
    padding-right: 0;
    padding-left: 25px;
    font-weight: 10;
    font-family: 'Inter', sans-serif;
    border: none;

}

.Subscribe-button {
    width: 210px;
    height: 72px;
    padding: 0;
    margin: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;

    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

/* footer styles */
.footer{
    text-align: center;
    height: 1000px;
    background: #070211;
    color: #FFF;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    margin-top: 120px;
}

.footer-1{
    display: flex;
    justify-content: space-between;
}
.footer-2-main{
    margin: 40px auto;
    padding-left: 40%;

}
.footer-2{
    width: 100px;
    padding: 0 auto;
    display: flex;
    gap: 50px;
    
}
.footer-3{
    display: flex;
    justify-content: space-between;
}
.footer-left{
    text-align: left;
    width: 360px;
    padding: 140px;
    
}
.footer-right{
    padding: 140px 291px;
}

#Unsubscribe{
    padding-right: 7%;
}
hr{
    width: 1320px;
    background: rgba(255, 255, 255, 0.15);
}

